# ps3eye cameras
KERNEL=="video?", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="OmniVision Technologies, Inc.", ATTRS{devpath}=="?.?.1", NAME="camera_right", SYMLINK="camera_right", MODE="0666"
KERNEL=="video?", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="OmniVision Technologies, Inc.", ATTRS{devpath}=="?.?.2", NAME="camera_left", SYMLINK="camera_left", MODE="0666"
# razor imu
KERNEL=="ttyUSB?", SUBSYSTEMS=="usb", ATTRS{devpath}=="?.?.3", NAME="razor_imu", SYMLINK+="razor_imu", MODE="0666"

