<launch>
	<arg name="camera"/>

	<!-- Run the viso2_ros package -->
	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
	 <remap from="stereo" to="$(arg camera)"/>
	 <remap from="image" to="image_rect"/>
	 <param name="publish_tf" value="false"/>
	 <param name="base_link_frame_id" value="base_footprint"/>
	 <param name="odom_frame_id" value="odom"/>
	</node>

</launch>